.usuarios-table-container {
    border: 1px solid black;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
    font-size: 14px;
    position: relative;
    top: 50px;
}

thead th {
    border-bottom: 1px solid black;
    background-color: #F5F5F5;
    font-weight: 500;
    padding: 15px 0px;
    height: 55px;
}

thead th:last-child {
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

tbody td {
    text-align: center;
    padding: 15px 40px;

    border-bottom: 1px solid black;
}

tbody td:last-child {
    border-right: none;
    padding: 0px 20px 0px 20px;
}

tbody tr:last-child td {
    border-bottom: none;
}


.user-edit-btn {
    display: flex;
    background: transparent;
    border: none;
    align-items: center;
    justify-content: center;
}

.user-edit-icon {
    font-size: 20px;
    cursor: pointer;
}

thead th .user-edit-icon{
    cursor: default;
}