/* General */
.clientes-pedidos {
    text-align: left;
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .clientes-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pedidos-header-filters {
    display: flex;
  }
  
  .pedidos-header-filters button {
    padding: 8px 15px;
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .pedidos-header-filters button:hover {
    color: black;
    border-bottom: 2px solid red;
  }
  
  .pedidos-filter-selected {
    border-bottom: 2px solid red;
    color: red;
  }
  
  .pedidos-search {
    display: flex;
    align-items: center;
  }
  
  .pedidos-search input {
    height: 40px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .pedidos-search-icon {
    margin-right: 10px;
    color: #999;
  }
  
  /* Tabla */
  .pedidos table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pedidos thead th {
    background-color: #f8f8f8;
    padding: 12px 15px;
    border-bottom: 2px solid #ddd;
    text-align: center;
  }
  
  .pedidos tbody td {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #eee;
  }
  
  .pedidos tbody tr:hover {
    background-color: #f9f9f9;
    cursor: pointer;
  }

/* Estilo cuando el botón de Crédito está activo */
    #clientes-credito.active {
    background-color:red; /* Fondo rojo discreto cuando está activo */
    color: white; /* Texto blanco cuando está activo */
  }
  
  /* Estilo cuando el botón de Crédito no está activo */
    #clientes-credito {
    background-color: #f0f0f0; /* Fondo gris claro cuando no está activo */
    color: black; /* Texto negro cuando no está activo */
  }
  
  
  