.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_logout {
    color: black;
}

.header_logout {
    display: flex;
    align-items: center;
}

.logout_boton {
    display: flex;
    margin-left: 5px;
    background: linear-gradient(to right, #FF6F6F, #D92332);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    align-items: center ;
}

.logout_icon {
    color: #D92332;
    margin-left: 3px;
}