.userCards-container {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 30px;
    width: calc(100% - 480px);
    justify-content: center;

}


.cards-filters button {
    height: 40px;
    padding-bottom: 6px;
    background-color: none;
    font-size: 16px;
    padding: 5px 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    border-bottom: 2px solid rgb(186, 186, 186);
    transition: all 0.3s;
}

.cards-filters button:hover {
    color: black;
    border-bottom: 2px solid rgb(126, 126, 126);
    transition: all 0.7s;

}

.cards-filters button.user-filter-selected {
    border-bottom: 2px solid red;
    color: black;
    transition: all 0s;
}

.cards-filters button.user-filter-selected:hover {
    border-radius: 0px;
    background-color: transparent;
}

.cards-users {
    display: grid;
    grid-template-columns: repeat(auto-fill, 164px);
    grid-template-rows: repeat(2, minmax(100px, 1fr)) auto;
    width: 100%;
    flex-wrap: wrap;
    grid-gap: 29px;
    margin-bottom: 80px;
    margin-top: 30px;
}


.user-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2);
    padding: 25px 0px 25px 0px;
    text-align: center;
    color: white;
    overflow: hidden;
    width: 164px;
    height: 218.66px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-sizing: border-box;
}


.Admin {
    background: linear-gradient(135deg, #FF6F6F, #D92332, #B30000);
}

.zonaA {
    background: linear-gradient(135deg, #40E0D0, #1E90FF);

}

.zonaBC {
    background: rgb(138,223,255);
background: linear-gradient(139deg, rgba(138,223,255,1) 0%, rgba(0,14,255,1) 100%);

}

.empaquetado {
    background: linear-gradient(135deg, #000080, #001a66, #003366, #004080, #0055a3, #0073e6, #3399ff);


}

.jefeAlmacen {
    background: linear-gradient(135deg, #FF0000, #FF4D4D, #FF7F7F);
}

.credito {
    background: rgb(233,104,226);
background: linear-gradient(139deg, rgba(233,104,226,1) 0%, rgba(114,33,255,1) 100%);

}

.clientes {
    background: linear-gradient(135deg, #8B008B, #9400D3, #9932CC);
}

.jefeAtencionClientes {
    
    background: linear-gradient(135deg, #D10000, #FF1493, #FF69B4);
}


.user-card:hover {
    cursor: pointer;
}

.user-card span {
    font-weight: 600;
    font-size: 15px;
}

.user-icon {
    font-size: 90px;
    position: relative;
    top: 5px;
}

.user-card:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño de la tarjeta */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2); /* Aplica una sombra más pronunciada */
    cursor: pointer;
}

.user-card.selected {
    transform: scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2); /* Aplica una sombra más pronunciada */
    cursor: pointer;
    border: 3px solid rgb(68, 68, 68);
}

.user-card-delete  {
    display: none;
}

.user-card:hover .user-card-delete {
    position: absolute;
    display: flex;
    align-items: center;
    background: none;
    color: white;
    font-size: 25px;
    border: none;
    top: 7px;
    right: 7px;
    border-radius: 15px;
    padding: 5px;
}

.user-card:hover .user-card-delete:hover {
    color: red;
    background: white;
    cursor: pointer;
}