.sidebar {
    top: 0px;
    height: 100vh;
    width: 90px;
    border-right: 2px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0%;
    background-color: white;
    user-select: none;
    position: fixed;
}

.sidebar_elementos {
    display: flex;
    flex-direction: column;
}


.sidebar_icon{
    color: rgb(88, 88, 88);
    font-size: 22px;
    margin-top: 18px;
    padding: 13px;
    border-radius: 18px;
}

.sidebar_first {
    margin: 0px;
}

.sidebar_icon:hover {
    color: black;
    background: rgb(211, 211, 211);
}

.sidebar_seleccionado:hover {
    color: white;
    background: linear-gradient(to right, #FF4B4B, #D92332);
}

.sidebar_seleccionado {
    color: white;
    background: linear-gradient(to right, #FF4B4B, #D92332);
}

.sidebar_notificaciones {
    position: absolute;
    bottom: 20px;
}

.sidebar_selector {
    width: 47px;
    height: 47px;
    top: 387px;
    left: 20px;
    border-radius: 18px;
    position: absolute;
}